### Sum of Two Numbers Function

1. Define a function named `sum_of_numbers` that takes two parameters: `num1` and `num2`.

2. Inside the function:
   - Add `num1` and `num2` to calculate the sum.
   - Return the sum as the result of the function.

4. Call the `sum_of_numbers` function with two numbers as arguments.

In [5]:
# 1

def sum_of_numbers(num1, num2):
    total = num1+ num2
    return total

sum_of_numbers(100, 200)

300

### Personalized Greeting Function

1. Define a function named `personalized_greeting` that takes no arguments.

2. Inside the function:
   - Prompt the user to enter their name.
   - Read and store the user's input in a variable named `user_name`.
   - Display a greeting message, e.g., "Welcome, [user_name]!".
   
3. Call the `personalized_greeting` function.

In [24]:
# 2

def personalized_greeting():
    user_name = input("Enter your name: ")
    print("Welcome,",user_name)
personalized_greeting()

Enter your name: Herry
Welcome, Herry

### Calculate Average Exam Grade Function

1. Define a function named `calculate_average_grade` that has no parameters.

2. Inside the function:
   - Prompt the user to enter the first exam grade and store it in a variable named `exam1`.
   - Prompt the user to enter the second exam grade and store it in a variable named `exam2`.
   - Calculate the average exam grade by adding `exam1` and `exam2`, then dividing by 2.
   - Round the average exam grade to two decimal places using the `round` function.
   - Return the rounded average exam grade as the result of the function.

3. Call the `calculate_average_grade` function.

In [33]:
# 3

def calculate_average_grade():
    exam_1 = float(input("Please enter your exam 1 grade here: "))
    exam_2 = float(input("Please enter your exam 2 grade here: "))
    average_exam_grade = (exam_1 + exam_2) / 2
    rounded_average = round(average_exam_grade, 2)
    return rounded_average

calculate_average_grade()

Please enter your exam 1 grade here: 100
Please enter your exam 2 grade here: 50

75.0

### Convert Strings to Lowercase Function

1. Define a function named `convert_to_lowercase` that takes one argument, `string_list` (a list).
2. Inside the function:
   - Create an empty list named `lowercase_list` to store the lowercase strings.
   - Iterate through each `item` in `string_list` using a for loop:
     - Check if `item` is a string:
       - If true, convert `item` to lowercase.
       - Append the lowercase `item` to `lowercase_list`.
       - If false, leave `item` unchanged.
   - Return `lowercase_list` as the result of the function.

3. Define a list named `original_list` with the elements `["UNIteD sTATES", "InDIA", "BRaZIL", "rUSsIA", "PERU"]`.
4. Call the `convert_to_lowercase` function with `original_list` as an argument and store the result in a variable named `lowercase_result`.
5. Print `lowercase_result`.

In [1]:
def convert_to_lowercase(string_list):
    lowercase_list = []  # Create an empty list to store lowercase strings
    
    for item in string_list:  # Iterate through each item in the input list
        if isinstance(item, str):  # Check if the item is a string
            lowercase_item = item.lower()  # Convert the string to lowercase
            lowercase_list.append(lowercase_item)  # Append the lowercase item to the list
        else:
            lowercase_list.append(item)  # If not a string, leave it unchanged
    
    return lowercase_list  # Return the list of lowercase strings

original_list = ["UNIteD sTATES", "InDIA", "BRaZIL", "rUSsIA", "PERU"]
lowercase_result = convert_to_lowercase(original_list)
print(lowercase_result)

['united states', 'india', 'brazil', 'russia', 'peru']

### Append each grade value to the appropriate list based on the following conditions and display the result.

1. Define a list named `grades` with values `[90, 80, 85, 70]`.
2. Define an empty list `a`.
3. Define an empty list `b`.
4. Define an empty list `c`.

5. For each `value` in `grades`:
    - If `value` is greater than or equal to 90:
        - Append `value` to list `a`.
    - Else, if `value` is greater than or equal to 80:
        - Append `value` to list `b`.
    - Else:
        - Append `value` to list `c`.

6. Print "'A' grades:", contents of list `a`.
7. Print "'B' grades:", contents of list `b`.
8. Print "'C' grades:", contents of list `c`.

In [15]:
# 5 complete code without a user-defined function

grades = [90, 80, 85, 70]
a = []
b = []
c = []

for value in grades:
    if value >= 90:
        a.append(value)
    elif value >= 80:
        b.append(value)
    else:
        c.append(value)
print("'A' grades:", a)
print("'B' grades:", b)    
print("'C' grades:", c)

'A' grades: [90]
'B' grades: [80, 85]
'C' grades: [70]

In [18]:
# complete code with a user-defined function:

def categorize(x):
    for value in grades:
        if value >= 90:
            a.append(value)
        elif value >= 80:
            b.append(value)
        else:
            c.append(value)
        
    print("'A' grades:", a)
    print("'B' grades:", b)    
    print("'C' grades:", c)

In [20]:
grades = [90, 80, 85, 70]

categorize(grades)

'A' grades: [90, 90, 90, 90]
'B' grades: [80, 85, 80, 85, 80, 85, 80, 85]
'C' grades: [70, 70, 70, 70]

### Convert a Fahrenheit value to Celsius (From °F to °C) and display the converted value.


1. Define a variable representing Celsius, name it `c`, and assign `c` a numerical value of 0.0.

2. Define a variable representing Fahrenheit, name it `f`, and assign `f` a numerical value of 50.9.

3. Use the formula `c = (f - 32) * (5 / 9)` to convert Fahrenheit (`f`) to Celsius (`c`).

4. Display the temperature in Celsius.

In [21]:
# 6 code without a user-defined function
c = 0.0
f = 50.9
c = (f-32) * (5/9)
print(str(c) + "° Celcius")

10.5° Celcius

In [26]:
# complete code with a user-defined function:

def convert(f):
    c = 0.0
#    f = 0.0
    c = (f-32) * (5/9)
    print(str(c) + "° Celcius")
    
convert(50.9)

10.5° Celcius

### Separating Data into `Countries` and `Populations`

1. Create an empty list named `countries`.
2. Create an empty list named `populations`.

3. For each element `x` in the `list_data`:
    - Check if `x` is an integer:
        - If true, append `x` to the `countries` list.
        - If false, append `x` to the `populations` list.

4. Print the `countries` list.
5. Print the `populations` list.

In [41]:
list_data = [
    "USA", 331002651,
    "China", 1444216107,
    "India", 1380004385,
    "Indonesia", 273523615,
    "Pakistan", 220892340,
    "Brazil", 212559417,
    "Nigeria", 206139589,
    "Bangladesh", 164689383,
    "Russia", 145934462,
    "Mexico", 128932753,
    "Japan", 126476461,
    "Ethiopia", 114963588,
    "Philippines", 109581078,
    "Egypt", 102334404,
    "Vietnam", 97338579,
    "DR Congo", 89561403,
    "Turkey", 84339067,
    "Iran", 83992949,
    "Germany", 83783942,
    "Thailand", 69799978
]

In [43]:
countries =[]
populations = []

for x in list_data:
    if isinstance(x, (int, float)):
        populations.append(x)
    else:
        countries.append(x)
        
print(countries)
print(populations)

['USA', 'China', 'India', 'Indonesia', 'Pakistan', 'Brazil', 'Nigeria', 'Bangladesh', 'Russia', 'Mexico', 'Japan', 'Ethiopia', 'Philippines', 'Egypt', 'Vietnam', 'DR Congo', 'Turkey', 'Iran', 'Germany', 'Thailand']
[331002651, 1444216107, 1380004385, 273523615, 220892340, 212559417, 206139589, 164689383, 145934462, 128932753, 126476461, 114963588, 109581078, 102334404, 97338579, 89561403, 84339067, 83992949, 83783942, 69799978]

In [30]:
isinstance(100.00, (int,float))

True