In [39]:
# Enter your first and last name here: Yung Han Wei

In [1]:
import os
os.getcwd()

'C:\\Users\\Herry\\MIS_433'

# Simple Variable Definitions; type() Function; len() Function

***Variable Data Types that Store a Single Value:***

In [22]:
#1 Create a string variable, state, containing the value Virginia 

state = "Virginia"
print(state)

Virginia

In [3]:
#2 Create an integer variable, cases_int, containing the value 1,530,000
# Note: Integer values cannot contain commas. 

cases_int = 1530000
print(cases_int)

1530000

In [6]:
#3 Create a float variable, cases_float, containing the value 1.53

cases_float = 1.53

***Variable Data Types that Store Multiple Values:***

In [12]:
#4 Create a list variable, states_list, containing string values: "Virginia", "Maryland", "DC" 
# Note: A list consists of square brackets []
# Note: Each element (or item) in a list is separated by a comma.

states_list = ["Virginia", "Maryland", "DC"]
print(states_list)

['Virginia', 'Maryland', 'DC']

In [13]:
#5 Create a tuple variable, states_tuple, containing string values: "Virginia", "Maryland", "DC" 
# Note: A tuple consists of rounded brackets ()
# Note: Each element (or item) in a tuple is separated by a comma.

states_tuple = ("Virginia", "Maryland", "DC" )
print(states_tuple)

('Virginia', 'Maryland', 'DC')

In [14]:
#6 Create a dictionary variable, states_dictionary, containing 
#    string key values: "Virginia", "Maryland", "DC", with their
#    respective case values (in millions) 1.53, .953, and .130
# Note: A dictionary consists of curly brackets {}  
# Note: Each key-value pair in a dictionary is separated by a comma.

states_dictionary = {"Virginia" : 1.53, "Maryland" : .953, "DC" : .130, "Virginia": ["VA", 1.53, 100]}
print(states_dictionary)

{'Virginia': ['VA', 1.53, 100], 'Maryland': 0.953, 'DC': 0.13}

In [15]:
#7 Create an boolean expression that checks if virginia cases > 1,000,000
# Note: A boolean value (i.e., True, False) is considered data type.

cases_int > 1000000

True

# Retrieve Values From Defined Variables

***Variable References within a Print Function***

In [23]:
#1 Refer to the defined variables to display the 
#    output "Virginia recorded 1530000 cases."

print(state, "recorded", cases_int, "cases")

Virginia recorded 1530000 cases

***List Indexing***

In [36]:
# 2 Retrieve the first element from states_list (use index) 

states_list[0]

'Virginia'

In [35]:
#3 Retrieve the first two elements from states_list (use index slicing symbol : )

states_list[0:2]

['Virginia', 'Maryland']

In [37]:
#4 Retrieve the last element from states_list (use negative indexing) 

states_list[-1]

'DC'

***Tuple Indexing***

In [40]:
#5 Retrieve the first element from states_tuple (use index)

states_tuple[0]

'Virginia'

***Dictionary Key***

In [42]:
#6 Retrieve the first element from states_dictionary (use key)

states_dictionary["Virginia"]

['VA', 1.53, 100]

# Modify Defined Variables

In [47]:
#1 Modify the first element of states_list from Virginia to VA 
# Note: List is a mutable

states_list[0] = "VA"
print(states_list)

['VA', 'Maryland', 'DC']

In [49]:
#2 Try to modify the first element of states_tuple from Virginia to VA 
# Note: Tuple is immutable

states_tuple[0] = "VA"

TypeError: 'tuple' object does not support item assignment

In [51]:
#3 Modify the states_dictionary value to 1.5312 for Virginia
# Note: Do not redefine the variable. Update the variable.
# Note: Dictionary keys are immutable while values are mutable.

states_dictionary["Virginia"] = 1.5312
print(states_dictionary)

{'Virginia': 1.5312, 'Maryland': 0.953, 'DC': 0.13}

# Other Variable Definitions

In [ ]:
#1 A list variable, market_cap_ex1, containing two float variables  

AAPLE = 2.779 # the float values represents market cap in trillions ($) 
MSFT = 2.310
market_cap_ex1 = [AAPLE, MSFT]

print(---)

In [ ]:
#2 A list variable, market_cap_ex2, containing two list variables.

apple = ["AAPLE", 2.779]
microsoft = ["MSFT", 2.310]
market_cap_ex2 = [apple, microsoft]

print(---)

In [ ]:
#3 A list variable, market_cap_ex3, containing one element: a dictionary with the two key-value pairs below 

market_cap_ex3 = [{"AAPLE" :  2.779, "MSFT" : 2.310}]

print(---)

In [ ]:
#4 A dictionary variable, market_cap_ex4, where the company stock symbol represents
# the key and the numerical value is its market cap.

market_cap_ex4 = {"AAPLE" :  2.779, "MSFT" : 2.310}

print(---)

In [ ]:
#5 Assigning multiple values to multiple variables x, y, z to 100, 200, 300, respectively

x, y, z  = 100, 200, 300

# Type Conversions

# Methods